.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
 
.item-list {
  width: max-content;
}

.moveUp {
  display: block;
  width: 100px;
  height: 50px;
  margin: 50px 0;
  background-color: chocolate;
  border-radius: 10px;
  transition: 1s;
  outline: none;
  position: absolute;
  top: 200px;
  right: 70px;
}

.moveDown {
  display: block;
  width: 100px;
  height: 50px;
  margin: 50px 0;
  background-color: chocolate;
  border-radius: 10px;
  transition: 1s;
  outline: none;
  position: absolute;
  top: 200px;
  left: 70px;
}
