body {
    box-sizing: border-box;
}

.ordering-food {
    margin: 50px auto 0;    
    width: 300px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 5px 0px rgba(105,12,105,1);
    border-radius: 7px;
}

ul {
    margin: 0;
    padding: 0;
    width: 60%;
}

li {
    width: 50%;
    margin: 0 auto;
    list-style: none;
    padding: 5px 10px;
    text-align: center;
    color: rgb(73, 12, 73);
}

li:hover,
.active {
    box-shadow: 0px 0px 5px 0px rgba(105,12,105,1);
    cursor: pointer;
}

.active {
    font-weight: bold;
}

.buttons {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 5px;
    outline: none;
    border: none;
    background: transparent;
    box-shadow: 0px 0px 5px 0px rgba(105,12,105,1);
}

#button-up {
    border-radius: 100% 100% 0 0;
}

#button-down {
    border-radius: 0 0 100% 100%;
}

button:not(:disabled) {
    background: rgb(192, 93, 192);
    color: #fff;
    font-weight: bold;
}

button:not(:disabled):hover {
    cursor: pointer;
}

button:disabled {
    color: rgb(192, 93, 192);
}
